include README.md
include README.JA.md
include REFERENCE.md
include REFERENCE.JA.md
include CHANGELOG.md
include COMPARISON.md
include MULTI_TABLE.md
recursive-include examples *.md *.csv
recursive-include examples Makefile
recursive-include man *.1
